.ia .ia-content {
    position: relative;
    width: 100%;
    height: 828px;
  }
  .ia .ia-content img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .ia .ia-content h2 {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    color: #FFE500;
    width: 379px;
    font-size: 48px;
    font-family: "Kensington", serif;
    text-align: left;
  }
  .ia .ia-content .underline {
    width: 65px;
    height: 3px;
  }