.planification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  width: 100%;
  height: 828px;
}
.planification .planification-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.planification .planification-content img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 147px;
}
.planification .planification-content .content {
  width: 320px;
  text-align: left;
}
.planification .planification-content .content h2 {
  font-size: 48px;
  font-family: "Kensington", serif;
  margin-bottom: 1rem;
}
.planification .planification-content .content .underline {
  width: 50px;
  margin-left: 290px;
  margin-bottom: -40px;
}