.recettes {
    margin-top: 10px;
  
    h2 {
      font-size: 48px;
      font-family: $font-family-titles;
      width: 100%; 
      text-align: center;
    }
  
    .underline {
      margin: 0 auto;
      margin-bottom: 120px;
      margin-top: -40px;
    }
  
    .recettes-slider {
      display: flex;
      gap: 30px;
      max-width: $max-width;
      margin: 0 auto;
  
      .recette {
        flex: 0 0 320px;
        height: 480px;
        border-radius: 10px;
  
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }

  .slider-controls {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-right: 70px;
    margin-top: 30px;

    .arrow-left, .arrow-right {
      cursor: pointer;
    }
  }
}