section {
    padding: 4rem 2rem;
    text-align: center;
    overflow: hidden;
  
    h2 {
      font-size: 48px;
      font-family: $font-family-titles;
      line-height: 50px;
      
    }
  
    .underline {
      margin-bottom: 100px;
      margin-top: -40px;
    }
  }