// Variables
$primary-color: #F35200;
$secondary-color: #F4EDDC;
$tertiary-color: #FFE500;
$bg-color: #022A22;
$font-family-body: 'Montserrat', sans-serif;
$font-family-titles: 'Kensington', serif;
$max-width : 500px;
